LICENSE
.env*
jobs
.RData
.Rhistory
.Rproj.user
doc
geoflow-shiny-main
geoflow-shiny
geoflow.RData
geoflow.Rproj
geoflowtoken
logs
searchresults.log
config_metadata_gsheets_cloud_upload.json
config_metadata_wms_thumbnail.json
data
